* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

.prosTitle {
      display: flex;
      justify-content: space-around;
      padding: 6vh 12vw;
      background-color: #8B48BF;
  }

.prosTitleH2 {
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.8vw;
      font-weight: 600;
      width: 30%;
  }

.prosTitleH3 {
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2vw;
      font-weight: 500;
      width: 40%;
  }

.prosSectionTop {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FAFAFA;
}

  .prosMainContainer {
    display:flex;
    width: 38vw;
    padding-top: 6%;
    padding-bottom: 6vh;
}

.prosNumber {
    border-radius: 2vw;
    background: #8B48BF;
    width: 5vw;
    height: 4vh;
    display: flex;
    align-items:center;
    justify-content:center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
}

.prosCompanyWide {
    padding: 0.8vw 1.5vw;
    color: #323851;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
}

.proCompanyLorem {
    padding: 0.8vw 1.5vw;
    color: #323851;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
}